.login {
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    &__img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--second-color);
        margin: 0 auto;
        img {
            width: 75px;
            height: 75px;
            object-fit: cover;
        }
    }
    &__input {
        padding: 28px 0px 12px 0px;
    }
}
