.login {
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    &__img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--second-color);
        margin: 0 auto;
        img {
            width: 75px;
            height: 75px;
            object-fit: cover;
        }
    }
    &__wrap-input {
        position: relative;
        width: 100%;
    }
    &__input {
        width: calc(100% - 44px);
        margin-left: auto;
        padding: 20px 0px;
        height: 56px;
        border: none;
        border-radius: 0;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        &:focus {
            border-bottom: solid 1px var(--second-color);
        }
        &:valid:not(:placeholder-shown) + .login__icon {
            svg {
                opacity: 1;
                path {
                    fill: var(--second-color);
                }
            }
        }
        &:not(:valid):not(:focus) + .login__icon {
            animation-name: shake-shake;
            animation-duration: 0.3s;
        }
        &:valid {
            border-bottom: solid 1px var(--second-color);
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        height: 56px;
        width: 44px;
        display: flex;
        svg {
            height: 30px;
            width: 30px;
            margin: auto;
            opacity: 0.15;
            transition: all 0.3s ease;
            path {
                transition: all 0.3s ease;
            }
        }
    }
    .checkbox {
        --border-default: #bbbbc1;
        --border-hover: #9898a3;
        --active: #6e7bf2;
        --active-tick: #ffffff;
        display: flex;
        align-items: center;
        gap: 5px;
        height: 24px;
        color: var(--second-color);
        font-weight: bold;
        cursor: pointer;
        position: relative;
        -webkit-tap-highlight-color: transparent;
        width: 111px;
        margin-left: auto;
        svg {
            display: block;
            position: absolute;
        }
        input {
            display: block;
            outline: none;
            border: none;
            padding: 0;
            margin: 0;
            -webkit-appearance: none;
            width: 18px;
            height: 18px;
            border-radius: 36% / 36%;
            box-shadow: inset 0 0 0 1.5px var(--border, var(--border-default));
            background: var(--background, transparent);
            transition: background 0.25s linear, box-shadow 0.25s linear;
            & + svg {
                width: 21px;
                height: 24px;
                left: 0;
                top: 0;
                color: var(--second-color);
                .tick {
                    stroke-dasharray: 20;
                    stroke-dashoffset: var(--stroke-dashoffset, 20);
                    transition: stroke-dashoffset 0.2s;
                    &.mask {
                        stroke: var(--active-tick);
                    }
                }
                & + svg {
                    width: 11px;
                    height: 11px;
                    fill: none;
                    stroke: var(--second-color);
                    stroke-width: 1.25;
                    stroke-linecap: round;
                    top: -6px;
                    right: -10px;
                    stroke-dasharray: 4.5px;
                    stroke-dashoffset: 13.5px;
                    pointer-events: none;
                    animation: var(--animation, none) 0.2s ease 0.175s;
                }
            }
            &:checked {
                --background: var(--second-color);
                --border: var(--second-color);
                & + svg {
                    --stroke-dashoffset: 0;
                    & + svg {
                        --animation: check;
                    }
                }
            }
        }
        &:hover {
            input {
                &:not(:checked) {
                    --border: var(--border-hover);
                }
            }
        }
    }
    &__btn {
        margin: 0 auto;
        display: block;
        color: #fff;
        background-color: var(--second-color);
        border-radius: 15px;
        text-align: center;
        transition: 0.4s linear;
        padding: 10px 30px;
        font-weight: bold;
        &:hover {
            color: #fff;
            transform: translateY(-3px);
            box-shadow: 0 2px 6px -1px var(--second-color);
            background-color: var(--second-color);
        }
    }
}
$displacement: 3px;
@keyframes shake-shake {
    0% {
        transform: translateX(-$displacement);
    }
    20% {
        transform: translateX($displacement);
    }
    40% {
        transform: translateX(-$displacement);
    }
    60% {
        transform: translateX($displacement);
    }
    80% {
        transform: translateX(-$displacement);
    }
    100% {
        transform: translateX(0px);
    }
}
