:root {
    --header-height: 5rem;
    --header-backgrount: #202020;
    --z-fixed: 100;
}
.header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-backgrount);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}
.nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 75px;
        height: 75px;
        img {
            width: inherit;
            height: inherit;
        }
    }
    .user-profile {
        max-width: 240px;
        &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: #fff;
            border: none;
            border-radius: 20px;
            color: #000;
            transition: 0.1s ease;
            &:hover,
            &:focus {
                color: #000;
                background-color: #dce3f0;
            }
        }
        &__menu {
            border-radius: 10px;
            margin-top: 10px !important;
            border: none;
            padding: 0;
            background-color: #fff;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            overflow: hidden;
            transition: hover 0.3s ease;
            button {
                transition: 0.3s ease;
                &:hover {
                    color: #000;
                    background-color: #dce3f0;
                }
            }
        }
        &__item {
            font-size: 16px;
            padding: 10px;
        }
    }
}
.dashboard {
    padding-top: var(--header-height);
    &__content {
        background-color: #fff;
        height: 100%;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 30px;
        letter-spacing: 1px;
    }
}
.nav {
    &__item {
        width: 25px;
        height: 25px;
        &_active {
            svg {
                fill: var(--second-color) !important;
            }
        }
        &:hover {
            svg {
                fill: var(--second-color);
            }
        }
        svg {
            transition: 0.3s linear;
            fill: #fff;
        }
        &:last-child {
            margin-top: auto;
        }
    }

    &__link {
        display: block;
        width: 25px;
        height: 25px;
        background: inherit;
        border: none;
        svg {
            width: 25px;
            height: 25px;
        }
    }
}
.сourses {
    &__item {
        flex-basis: 30%;
        padding: 0;
        overflow: hidden;
        border-radius: 28px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    &__link {
        width: 100%;
        display: block;
        padding: 30px 20px;
        overflow: hidden;
        position: relative;
    }
    &__bg {
        height: 128px;
        width: 128px;
        background-color: #f9b234;
        z-index: 1;
        position: absolute;
        top: -75px;
        right: -75px;
        border-radius: 50%;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &__title {
        min-height: 87px;
        margin: 0 0 25px;
        overflow: hidden;
        font-weight: bold;
        font-size: 25px;
        color: #000;
        z-index: 2;
        position: relative;
    }
    &__date {
        font-size: 18px;
        color: var(--second-color);
        z-index: 2;
        font-weight: bold;
        position: relative;
        span {
            color: #000;
        }
    }
    &__link:hover {
        .сourses__bg {
            -webkit-transform: scale(10);
            -ms-transform: scale(10);
            transform: scale(10);
        }
        .сourses__title,
        .сourses__date {
            color: #fff;
            span {
                color: inherit;
            }
        }
    }
    &__item:nth-child(2n) &__bg {
        background-color: #3ecd5e;
    }
    &__item:nth-child(3n) &__bg {
        background-color: #e44002;
    }
    &__item:nth-child(4n) &__bg {
        background-color: #952aff;
    }
    &__item:nth-child(5n) &__bg {
        background-color: #cd3e94;
    }
    &__item:nth-child(6n) &__bg {
        background-color: #4c49ea;
    }
    &__message {
        color: var(--second-color);
        font-size: 20px;
        letter-spacing: 1px;
    }
    @media screen and (max-width: 1200px) {
        &__title {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 995px) {
        &__item {
            flex-basis: 46%;
        }
    }
    @media screen and (max-width: 768px) {
        &__item {
            flex-basis: 100%;
        }
    }
}
.course {
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &__title {
        letter-spacing: 0.2rem;
    }
    &__desc {
        font-size: 20px;
        letter-spacing: 0.05rem;
    }
    p {
        margin: 0 0 2em !important;
    }
    img,
    video {
        max-width: 100% !important;
        height: auto !important;
    }
}
@media screen and (max-width: 577px) {
    .nav {
        padding: 1rem !important;
    }
    .course {
        box-shadow: none;
    }
    img {
        width: 100% !important;
        height: auto !important;
    }
}
