p {
    margin-bottom: 0;
}
.scroll-hidden {
    overflow-y: hidden;
}
.title {
    font-size: 41px;
    line-height: 1.23;
}
.desc {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.55;
    font-weight: 300;
    color: #000000;
}
// обертка шапки
.wrapper-header {
    position: absolute;
    z-index: 500;
    &_fixed {
        position: fixed;
        .header {
            background-color: #000000ad;
        }
    }
}
// Шапка
.header {
    margin-top: 15px;
    border-radius: 20px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: flex;
    align-items: center;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__contact {
        padding: 0;
        margin: 0;
        display: none;
        list-style: none;
        gap: 50px;
    }
    &__logo {
        padding-top: 10px;
        display: block;
        width: 140px;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .contact {
        height: 56px;
        .contact__item {
            display: table;
            text-align: center;
            a,
            div {
                cursor: pointer;
                display: table-cell;
                vertical-align: middle;
                color: #fff !important;
                font-size: 16px;
                font-weight: 600;
                border-width: 1px;
                border-radius: 9px;
                border-color: transparent;
                border-style: solid;
                transition: background-color 0.3s ease-in-out,
                    color 0.3s ease-in-out, border-color 0.3s ease-in-out;
                padding: 0 10px;
                &:hover {
                    border-color: #fff;
                }
            }
        }
    }
    .city {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 3px;
        height: 100%;
        cursor: pointer;
        margin-right: auto;
        color: #fff !important;
        font-size: 16px;
        font-weight: 600;
        border-width: 1px;
        border-radius: 9px;
        border-color: transparent;
        border-style: solid;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
            border-color 0.3s ease-in-out;
        padding: 0 10px;
        &:hover {
            border-color: #fff;
        }
        svg {
            width: 30px;
            height: 30px;
            fill: #fff;
        }
    }
    .social {
        padding: 0;
        margin: 0;
        list-style: none;
        display: none;
        gap: 15px;
        svg {
            width: 40px;
            height: 40px;
        }
    }
    .menu-toggle {
        cursor: pointer;
        width: 40px;
        height: 40px;
        svg {
            pointer-events: none;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        .nav-btns__item {
            display: table;
        }
        .nav-btns__link {
            display: table-cell;
            vertical-align: middle;
            color: #ffffff;
            text-transform: uppercase;
            background-color: #fe5001;
            border-radius: 3px;
            border-color: transparent;
            border-width: 1px;
            padding: 8px 18px;
            font-size: 13px;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            &:hover {
                background-color: #f76b2a;
            }
        }
    }
}
.city-list {
    list-style: none;
    padding: 0;
    &__item {
        font-size: 20px;
        letter-spacing: 1px;
    }
}
.header-static {
    background-color: #000;
    &__logo {
        width: 100px;
        height: 100px;
        img,
        a {
            width: inherit;
            height: inherit;
        }
    }
}
//основное по секции
.section {
    min-height: 100vh;
    &__main {
        height: 100vh;
    }
    &__info,
    &__training,
    &__reasons,
    &__employment {
        min-height: 100%;
    }

    &__header {
        background-color: var(--first-color);
        color: var(--white-color);
        padding: 30px 0px;
    }
    &__content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__title {
        font-size: 30px;
        line-height: 1.23;
        text-transform: uppercase;
    }
    &__desc {
        margin-top: 20px;
        font-size: 24px;
        line-height: 1.5;
        a {
            font-size: 24px;
            line-height: 1.5;
            color: var(--white-color);
        }
    }
    &__main {
        padding: 0;
    }
    &__courses {
        min-height: 100%;
    }
    &__reviews {
        min-height: 100%;
    }
}
// главная секция
.main {
    background-image: url("/public/images/about.jpg") center no-repeat;
    background-size: cover;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: block;
        z-index: 2;
    }
    &__video {
        position: relative;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
    }
    &__content {
        position: absolute;
        padding-top: 115px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        z-index: 3;
    }
    &__title {
        color: var(--white-color);
        font-size: 55px;
        position: absolute;
        bottom: 100px;
        span {
            display: block;
            width: 100%;
            font-size: 98px;
            font-family: var(--title-font) !important;
            font-weight: var(--title-font-weight) !important;
        }
    }
}
// информационная секция
.info {
    background-color: var(--third-color);
    &__text {
        padding-right: 10px;
    }
    &__img {
        width: 100%;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 0px;
    }
}
// секция о нас
.about {
    &__img {
        width: 100%;
        height: 100%;
        max-height: 800px;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 0px;
    }
    &__text {
        padding-left: 130px;
    }
    &__desc {
        padding-bottom: 60px;
        margin-bottom: 0;
    }
    &__btn {
        padding: 15px 75px;
    }
}
// секция направления
.directions {
    min-height: 100%;
    &__img {
        // box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 0px;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 800px;
        object-fit: contain;
    }
}
// секция курсы
.courses {
    &__block {
        padding: 20px;
        background-color: #575757;
    }
    &__desc {
        color: #fff;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 600;
    }
    .tabs-nav {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        &__item {
            width: 47%;
            min-height: 136px;
            background: #fff;
            color: #000;
            border: none;
            border-radius: 3px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
            transition: 0.3s ease;
            cursor: pointer;
            &_active {
                background: var(--second-color);
                color: #fff;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
            }
        }
        &__top,
        &__desc {
            font-family: Montserrat, Arial, sans-serif;
            font-size: 14px;
            line-height: 18px;
            padding: 22px;
            font-weight: bold;
            pointer-events: none;
        }
        .slick-slide {
            max-width: 250px;
        }
    }
    .tabs {
        position: relative;

        &__item {
            position: absolute;
            top: 0;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease 0s;
            &_active {
                position: static;
                visibility: visible;
                opacity: 1;
            }
        }
        &__title {
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
        }

        &__time,
        &__start,
        &__desc,
        &__price {
            font-family: Montserrat, Arial, sans-serif;
        }
        &__time,
        &__start {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.625;
            span {
                font-family: inherit !important;
                color: var(--second-color);
            }
        }
        &__desc {
            font-size: 16px;
            line-height: 1.625;
            font-style: normal;
        }
        &__price {
            margin: 20px 0;
            font-size: 36px;
            color: var(--second-color);
            font-weight: 700;
        }
        .price {
            display: flex;
            gap: 20px;
            align-items: center;
            &__old {
                font-size: 30px;
                position: relative;
                text-decoration: none;
                color: #000;
                &::before {
                    content: "";
                    width: 100%;
                    height: 0.1em;
                    background: var(--second-color);
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: rotate(-3deg);
                }
            }
        }
        &__btn {
            border: 2px solid var(--second-color) !important;
            background: var(--second-color);
            line-height: 26px;
            padding: 10px 24px;
            color: #fff;
            border-radius: 25px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
// секция постеры
.posters {
    &__img {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 0px;
        width: 100%;
    }
}
// секция обучение
.training {
    &__img {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 0px;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 450px;
        object-fit: cover;
    }
    &__desc {
        margin-top: 0px;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 300;
    }
}
// секция преподаватели
.teachers {
    min-height: 100%;
    background-color: #efefef;
}
// секция отзывы
.employment {
    &__item {
        height: 500px;
        object-fit: contain;
    }
}
// секция 5 причин
.reasons {
    &__img {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 0px;
        width: 100%;
        max-width: 100%;
        max-height: 450px;
        object-fit: cover;
    }
}
// подвал (Контакты)
.footer {
    background-color: var(--third-color);
    padding: 50px 0px;
    &__title {
        font-size: 24px;
        text-transform: uppercase;
        color: var(--dark-color);
    }
    &__address {
        padding-top: 20px;
    }
    &__address,
    &__contact {
        font-size: 17px;
        line-height: 2;
        font-weight: 600;
    }
}
// банеры
.banner {
    padding: 20px;
    background-color: #f5f5f5;
    &__text {
        font-size: 20px;
        line-height: 1.55;
        font-weight: 600;
        color: var(--dark-color) !important;
        padding-bottom: 10px;
    }
    &__btn {
        padding: 10px 40px;
        font-size: 20px;
        font-family: var(--text-font) !important;
    }
}
// боковое меню
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 800;
    display: none;
    opacity: 0;
    &_visible {
        display: flex;
        opacity: 1;
        animation: showMenu linear 0.3s;
    }
    &__container {
        position: relative;
        margin-left: auto;
        width: 100%;
        max-width: 350px;
        background-color: #000000;
        padding: 48px 40px 38px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        -webkit-transition: transform ease-in-out 0.3s;
        -moz-transition: transform ease-in-out 0.3s;
        -o-transition: transform ease-in-out 0.3s;
        transition: transform ease-in-out 0.3s;
        -moz-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        -webkit-transform: translate(100%, 0);
        -o-transform: translate(100%, 0);
        transform: translate(100%, 0);
        &_active {
            -moz-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            -webkit-transform: translate(0, 0);
            -o-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }
    &__list {
        overflow-y: auto;
        list-style: none;
    }
    &__item {
        margin-bottom: 15px;
    }
    &__link,
    &__btn {
        cursor: pointer;
        color: #ffffff;
        font-size: 21px;
        font-weight: 600;
        transition: color 0.3s ease;
        &:hover {
            color: var(--bs-link-hover-color);
        }
    }
    &__close {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        svg {
            pointer-events: none;
            transition: fill 0.3s ease;
        }
        &:hover {
            svg {
                fill: var(--second-color);
            }
        }
    }
    .social {
        list-style: none;
        display: flex;
        gap: 10px;
        .st0 {
            transition: fill 0.3s ease;
        }
        &__item {
            width: 30px;
            &:hover {
                .st0 {
                    fill: var(--second-color);
                }
            }
        }
    }
}
// модельное окно с формой
.modal-dialog {
    max-width: 560px;
    .modal-content {
        position: relative;
        background-color: #000000;
        padding: 40px 45px;
        .btn_close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            z-index: 900;
            svg {
                transition: all 0.3s ease;
            }
            &:hover {
                svg {
                    fill: var(--second-color);
                }
            }
        }
        .modal-title {
            color: #ffffff;
            margin-bottom: 11px;
            font-size: 25px;
            font-weight: 600;
            line-height: 1.23;
        }
        .modal-desc {
            color: #ffffff;
            font-size: 16px;
            line-height: 1.55;
            font-weight: 300;
        }
        .wrapper-control {
            &_invalid {
                .wrapper-control__error {
                    color: red;
                    font-size: 15px;
                    display: block;
                    margin-top: 10px;
                }
                .form-control {
                    border: 1px solid red;
                }
            }
            &__error {
                color: red;
                font-size: 15px;
                display: none;
                margin-top: 10px;
            }
        }
        .form-control {
            color: #ffffff;
            padding: 18px 15px;
            background-color: transparent;
            border: none;
            font-size: 20px;
            border-radius: 0px;
            border-bottom: 1px solid #fff;
        }
        .btn-submit {
            height: 54px;
        }
        .modal-footer {
            border-top: none;
            text-align: center;
            .modal-politic {
                color: #fff;
            }
        }
        .questions {
            &__title {
                color: #ffffff;
                font-size: 16px;
                line-height: 1.55;
                font-weight: 300;
                padding-bottom: 10px;
            }
            .form-control {
                padding: 10px;
                font-size: 16px;
            }
            .wrapper-control {
                padding: 0px 10px 10px 10px !important;
            }
        }
        .answers {
            padding: 0px 10px 10px 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            &__item {
                background-color: #575757;
                color: var(--white-color);
                &_invalid {
                    border: 1px solid red;
                    .form-control {
                        border-bottom: none;
                    }
                }
                &_active {
                    background-color: var(--second-color);
                }
                &_input {
                    background-color: transparent;
                    .wrapper-control {
                        padding: 0 !important;
                    }
                }
            }
        }
    }
}
// политика
.politic {
    padding: 50px;
    &__content {
        background-color: #f5f5f5;
        padding: 60px;
    }
    &__title {
        font-size: 28px;
        line-height: 1.17;
        padding-bottom: 35px;
    }
    &__subtitle,
    &__desc,
    &__list {
        font-size: 20px;
        line-height: 1.55;
        padding-bottom: 35px;
    }
}
.panel-btns {
    z-index: 600;
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    &__item {
        border: 1px solid var(--second-color);
        background-color: var(--second-color);
        cursor: pointer;
        border-radius: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 50px;
        height: 50px;
        opacity: 0.8;
        transition: opacity 0.2s ease;
        box-shadow: 0 0 0 var(--second-color);
        animation: pulse 2s infinite;
        svg {
            width: 35px;
            height: 35px;
            fill: var(--white-color);
        }
        &_visible {
            display: flex;
        }
        &:hover {
            opacity: 1;
            animation: none;
        }
    }
}
// слайдер
.slick-slide {
    margin: 0 15px;
}
.slider {
    width: 100%;
    display: flex;
    &__item {
        position: relative;
        border-radius: 25px;
        background-color: #fff;
        overflow: hidden;
        padding: 15px;
    }
    &__media {
        img,
        video {
            width: 100%;
            height: 100%;
            min-height: 400px;
            max-height: 400px;
            object-fit: cover;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            max-height: 300px;
            object-fit: contain;
        }
    }
    &__content {
        min-height: 200px;
        padding: 15px 0;
    }
    &__title,
    &__desc {
        text-align: center;
    }
    &__title {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px !important;
    }
    &__desc {
        font-size: 16px;
        color: #707070;
    }
    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border: 1px solid #e5e5e5;
        border-radius: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        transition: 0.3s ease;
        opacity: 0.8;
        &_prev {
            left: -55px;
            svg {
                transform: translateX(-2px);
            }
        }
        &_next {
            right: -55px;
            svg {
                transform: rotate(180deg) translateX(-2px);
            }
        }
        svg {
            width: 20px;
            height: 20px;
            path {
                transition: 0.3s ease;
                fill: #000;
            }
        }
        &:hover {
            opacity: 1;
            border: 1px solid var(--first-color);
            svg {
                path {
                    fill: var(--first-color);
                }
            }
        }
    }
    &__link {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    .slick-list {
        border-radius: 25px;
    }
    .slick-dots {
        bottom: -40px;
    }
    .slick-dots li.slick-active button::before {
        opacity: 1;
        color: var(--first-color);
    }
    .slick-dots li button:hover::before,
    .slick-dots li button:focus::before {
        opacity: 1;
        color: var(--first-color);
    }
}
// Общий шаблон страницы
.page {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 25px;
    &__img {
        width: 100%;
        max-width: 400px;
        img {
            width: inherit;
        }
    }
    &__title {
        font-size: 25px;
        letter-spacing: 0.7px;
        font-weight: bold;
        margin-bottom: 15px !important;
    }
    &__desc,
    &__text {
        font-size: 19px;
        margin-bottom: 15px !important;
        font-family: var(--text-font) !important;
    }
    &__text {
        h1,
        h2,
        h3,
        h4,
        h5,
        p {
            font-size: 19px;
            margin-bottom: 15px !important;
        }
    }
}
// панель администратора
.sidebar {
    background-color: #212529;
    &__btn_close {
        display: none;
    }
    &__content {
        overflow-y: auto;
        height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
    }
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 150px;
            height: 150px;
        }
    }
    &__nav {
        border-top: 1px solid var(--white-color);
        padding: 35px !important;
        flex-direction: column;
    }
    .nav {
        &__item {
            transition: all 0.2s linear;
            &:hover {
                background-color: var(--second-color);
            }
            &_active {
                background-color: var(--second-color);
            }
            button {
                width: 100%;
                text-align: left;
            }
        }
        &__link {
            text-transform: uppercase;
            padding: 10px 15px !important;
            display: block;
            color: var(--white-color);
        }
    }
}
.panel {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &__title,
    &__desc {
        color: var(--gray-color);
    }
    &__title {
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 1px;
    }
    &__desc {
        font-size: 18px;
        letter-spacing: 0.6px;
    }
    &__btn {
        background-color: var(--green-color);
        border-color: var(--green-color);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 17px;
        font-weight: bold;
        padding: 10px 15px;
    }
}
.form-search {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    &__btn {
        background-color: var(--green-color);
        border-color: var(--green-color);
    }
}
.table {
    &__img {
        width: 65px;
        height: 65px;
        object-fit: contain;
    }
    form {
        display: inline-block;
    }
    &__btn {
        border: none;
        display: inline-block;
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: inherit;
        &:hover {
            background-color: inherit;
        }
        svg {
            pointer-events: none;
            width: 100%;
            height: 100%;
        }
        &_edit {
            svg {
                fill: var(--green-color);
            }
        }
        &_remove {
            svg {
                fill: var(--red-color);
            }
        }
    }
}
.prev-img {
    width: 100%;
    height: 300px;
    max-height: 300px;
    object-fit: contain;
    background-color: #f8f8f8;
    border: 1px solid #dee2e6;
}
.file-input {
    input {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        position: absolute;
    }
    label {
        display: inline-block;
        position: relative;
        background-color: var(--green-color);
        border-color: var(--green-color);
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
    }
}
.ck.ck-content:not(.ck-comment__input *) {
    height: 300px;
    overflow-y: auto;
}

.loader {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #00000082;
    &__bar {
        margin-right: 10px;
        font-size: 16px;
        font-weight: bold;
        color: var(--second-color);
    }
    &_visible {
        display: flex;
    }
    .spinner-grow {
        color: var(--second-color);
    }
}
.adding-users {
    &__add {
        cursor: pointer;
        svg {
            pointer-events: none;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__item {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 15px;
    }
    &__email {
        width: 100%;
        background: transparent;
        border: none;
        font-size: 17px;
        letter-spacing: 0.5px;
    }
    &__controls {
        display: flex;
        gap: 10px;
        cursor: pointer;
        svg {
            pointer-events: none;
            width: 25px;
        }
    }
    &__edit {
        color: var(--green-color);
    }
    &__remove {
        color: var(--red-color);
    }
}
.file-manager {
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 20px;
    }
    .file {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        padding: 10px;
        transition: 0.1s linear;
        font-size: 15px;
        &__icon {
            border-radius: 10px;
            object-fit: cover;
            width: 45px;
            height: 45px;
        }
        &:hover {
            background-color: #f5f5f5;
        }
    }
}
//анимации
@keyframes showMenu {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: flex;
        opacity: 0;
    }

    100% {
        display: flex;
        opacity: 1;
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(#fe5001, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(#fe5001, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(#fe5001, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(#fe5001, 0.4);
        box-shadow: 0 0 0 0 rgba(#fe5001, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(#fe5001, 0);
        box-shadow: 0 0 0 10px rgba(#fe5001, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(#fe5001, 0);
        box-shadow: 0 0 0 0 rgba(#fe5001, 0);
    }
}
.burger {
    display: none;
}
// медиа
@media screen and (max-width: 1400px) {
    .header {
        &__logo {
            padding-top: 0;
            width: 75px;
        }
    }
}
@media screen and (max-width: 1230px) {
    .title {
        font-size: 30px;
    }
    .desc {
        font-size: 18px;
    }
    //основное по секции
    .section {
        &__title {
            font-size: 30px;
        }
        &__desc {
            margin-top: 20px;
            font-size: 18px;
            a {
                font-size: 18px;
            }
        }
    }
    // Шапка
    .header {
        &__nav {
            .nav-btns__link {
                padding: 8px 10px;
            }
        }
        .header__contact {
            gap: 10px;
        }
    }
    // главная
    .main {
        &__title {
            font-size: 45px;
        }
    }
    .info {
        &__img {
            height: 100%;
            max-height: 700px;
        }
    }
    // секция о нас
    .about {
        &__img {
            max-height: 700px;
        }
        &__text {
            padding-left: 25px;
        }
        &__desc {
            padding-bottom: 40px;
        }
    }
    // секция направления
    .directions {
        &__img {
            max-height: 700px;
        }
    }
    // секция курсы
    .course {
        &__desc,
        &__list {
            font-size: 17px;
        }
        &__img {
            width: 100%;
            height: 100%;
            max-height: 650px;
        }
    }
    // слайдер
    .slick-slide {
        margin: 0 7px;
    }
}
@media screen and (max-width: 991px) {
    .main {
        &__title {
            font-size: 35px;
        }
    }
    .info {
        &__desc {
            margin-top: 10px;
            margin-bottom: 20px !important;
        }
    }
    .about {
        &__text {
            padding-left: 10px;
            margin-top: 20px;
        }
        &__desc {
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
    .directions {
        &__desc {
            margin-bottom: 20px !important;
        }
        &__img {
            max-height: 460px;
            object-fit: cover;
        }
    }
    .courses {
        &__desc {
            font-size: 18px;
        }
    }
    .course {
        img {
            padding-top: 20px;
            object-fit: contain;
        }
    }
    .banner {
        &__text {
            font-size: 18px;
        }
    }
    .posters {
        &__img {
            box-shadow: none;
            object-fit: contain;
            max-height: 600px;
        }
        &__banner {
            margin-top: 30px;
        }
    }
    .employment {
        &__item {
            object-fit: cover;
        }
    }
    .reasons {
        &__desc {
            margin-top: 0;
            margin-bottom: 20px !important;
        }
    }
    .politic {
        padding: 30px;
        &__content {
            padding: 30px;
        }
        &__title {
            font-size: 20px;
            padding-bottom: 30px;
        }
        &__subtitle,
        &__desc,
        &__list {
            font-size: 17px;
            padding-bottom: 30px;
        }
    }
    .sidebar {
        width: 100vw;
        display: none;
        touch-action: none;
        overflow: hidden;
        position: fixed;
        z-index: 10;
        &_visible {
            display: block;
        }
        &__btn_close {
            position: absolute;
            top: 20px;
            right: 20px;
            display: block;
            cursor: pointer;
            svg {
                fill: var(--white-color);
            }
        }
    }
    .table__btn_edit {
        margin-bottom: 10px !important;
    }
    .burger {
        display: block;
        position: fixed;
        top: 20px;
        cursor: pointer;
        svg {
            fill: var(--second-color);
        }
    }
}
@media screen and (max-width: 770px) {
    .main {
        &__title {
            font-size: 30px;
        }
    }
    .directions {
        &__img {
            max-height: 350px;
        }
    }
    .training {
        &__img {
            max-height: 350px;
        }
    }
    .politic {
        padding: 30px;
        &__content {
            padding: 30px;
        }
        &__title {
            font-size: 18px;
            padding-bottom: 30px;
        }
        &__subtitle,
        &__desc,
        &__list {
            font-size: 15px;
            padding-bottom: 30px;
        }
    }
    .tabs-nav {
        .slick-list {
            padding: 20px 5px;
        }
    }
    .tabs {
        padding: 0 20px;
        &__item {
            z-index: -10;
        }
        &__title {
            font-size: 18px !important;
        }
        .price {
            &__old {
                font-size: 18px !important;
            }
            &__new {
                font-size: 23px;
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .title {
        font-size: 25px;
    }
    .desc,
    .btn {
        font-size: 16px !important;
    }
    .section {
        &__title {
            font-size: 25px;
        }
        &__desc {
            font-size: 16px;
        }
        &__content {
            padding: 30px 20px 30px 20px;
        }
    }
    .main {
        &__title {
            font-size: 25px;
            bottom: 140px;
            span {
                font-size: 50px;
            }
        }
    }
    .courses {
        &__desc {
            font-size: 16px;
        }
    }
    .course {
        &__title {
            text-transform: uppercase;
            font-size: 17px;
            line-height: 1.35;
            color: #000000 !important;
            background-color: #fff !important;
            box-shadow: none !important;
            padding: 27px 10px !important;
        }
        &__content {
            padding: 0px 10px 27px 10px;
        }
        &__desc,
        &__list {
            font-size: 16px;
            line-height: 1.55;
            font-weight: 300;
        }
        &__img {
            margin-top: 10px;
            width: 100%;
            height: 100%;
            max-height: 800px;
        }
    }
    .banner {
        &__text {
            font-size: 16px;
        }
    }
    .posters {
        &__img {
            border: 1px solid #d0cfcf;
        }
    }
    .politic {
        padding: 15px;
        &__content {
            padding: 15px;
        }
        &__title {
            font-size: 16px;
            padding-bottom: 20px;
        }
        &__subtitle,
        &__desc,
        &__list {
            font-size: 15px;
            padding-bottom: 20px;
        }
    }
    .footer {
        padding: 50px 10px;
        &__title {
            font-size: 24px;
        }
        &__address {
            padding-top: 20px;
        }
        &__address,
        &__contact {
            font-size: 17px;
            line-height: 2;
            font-weight: 600;
        }
    }
    .modal-content {
        padding: 20px !important;
    }
    .modal-title,
    .modal-desc,
    .modal-politic {
        text-align: center;
    }
}
@media screen and (max-width: 368px) {
    .main {
        &__title {
            font-size: 17px;
            span {
                font-size: 45px;
            }
        }
    }
}
